#slider {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 320px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    width: 100%;
    -webkit-transition: all 1s ease-in 0.1s;
    -moz-transition: all 1s ease-in 0.1s;
    -ms-transition: all 1s ease-in 0.1s;
    -o-transition: all 1s ease-in 0.1s;
    transition: all 1s ease-in 0.1s;
    left: 0;
}

.slide img {
    width: 100%;
}

.arrows {
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.arrow {
    position: absolute;
    cursor: pointer;
}

.no__active {
    color: red ;
}

.next {
    right: 0;
}